* {
    box-sizing: border-box;
}

body {
    font-family: roboto;
    margin: 0;
    padding: 0;
}

header, .hero {
    background-color: #274c80;
    color: white;
}

header {
    padding: 32px;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 1rem;
}

.navbar li {
    list-style: none;
}

.navbar a {
    text-decoration: none;
    color: white;
}





.flavors {
    background-color: white;
}

.flavor-content {
    display: flex;
    justify-content: space-around;
}

.quote {
    background-color: lightgrey;
}

.call-to-action {
    background-color: #3882f6;
    border-radius: 8px;
    margin: 100px;
    padding: 16px;
    display: flex;
    flex-direction: column;
}

