body {
    font-family: roboto;
}

* {
    border: .5px solid red;
}


header, .hero {
    background-color: darkblue;
    color: white;
}

.header-logo {
   display: flex;
   justify-content: flex-start;
   margin-right: 1000px;
}

.navbar {
    display: flex;
    justify-content: space-around;
    margin-left: 900px;
}

.flavors {
    background-color: white;
}

.flavor-content {
    display: flex;
    justify-content: space-around;
}

.quote {
    background-color: lightgrey;
}

.call-to-action {
    background-color: blue;
}

