body {
    font-family: roboto;
}

* {
    border: .5px solid red;
}


header, .hero {
    background-color: darkblue;
    color: white;
    display: flex;
    flex-direction: row;
}

.header-logo {
   display: flex;
   justify-content: flex-start;
}

.navbar {
    display: 
}

.flavors {
    background-color: white;
}

.quote {
    background-color: lightgrey;
}

.call-to-action {
    background-color: blue;
}

